body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}


.float-container {
    width: 90%;
    margin-top: 8%;
    margin-left: 6%;
}


.float-child {
    width: 30%;
    float: left;
    text-align: left;
    /* margin: 10px; */
    margin-left: 10%;
}  

.float-child-2 {
    width: 40%;
    float: left;
    text-align: left;
    /* margin: px; */
    margin-left: 10%;
}  
